* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: rgb(28, 224, 77);
}

body {
  background-color: rgb(255, 255, 255);
}

header {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(3, 253, 57, 0.61) 0px 5px 15px;
}
header .navbar .container-fluid .navbar-brand {
  color: rgb(28, 224, 77);
  font-size: 45px;
  font-family: bold;
  font-weight: 900;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  font-size: 20px;
  font-weight: 400;
  color: rgb(28, 224, 77);
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link .bi {
  font-size: 15px;
  margin-right: 5px;
  color: rgb(28, 224, 77);
}

.menu .main_text_menu {
  text-align: center;
}
.menu .menus {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.menu .menus img {
  width: 300px;
  padding: 17px;
}

.galereya {
  padding: 50px;
}
.galereya .text {
  text-align: center;
}
.galereya .text h1 {
  font-size: 55px;
  color: rgb(28, 224, 77);
  font-family: bold;
}
.galereya .row .galery {
  display: flex;
  justify-content: space-around;
}
.galereya .row .galery img {
  margin-bottom: 20px;
  width: 317px;
  padding: 25px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.home .row {
  justify-content: center;
  align-items: center;
  margin: 55px auto;
}
.home .row .col h1 {
  text-align: center;
  font-size: 70px;
  font-family: cabin;
  font-weight: 500;
}
.home .row .col p {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.home .row .col button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(28, 224, 77);
  font-family: cabin;
}
.home .row .col a img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.map .main_text_map {
  text-align: center;
  font-size: 50px;
  font-family: cabin;
  font-weight: 500;
  margin-bottom: 45px;
}
.map .row .map_in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
  margin-top: -90px;
}
.map .row .map_ins {
  display: flex;
}
.map .row .map_ins .info_map {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.map .row .map_ins .info_map .map_inses button {
  margin-bottom: 10px;
  background-color: rgb(28, 224, 77);
}
.map .row .map_ins .info_map .map_inses button a {
  text-decoration: none;
  color: black;
  font-family: cobina;
}
.map .row .map_ins .info_map .map_inses button:hover {
  background-color: rgba(28, 224, 77, 0.61);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer .we h4 {
  font-size: 20px;
  color: rgb(85, 85, 85);
}
.footer .we h4 a {
  text-decoration: none;
  color: rgb(101, 98, 255);
}
.footer .avtor h4 {
  font-size: 20px;
  color: rgb(85, 85, 85);
}
.footer .avtor h4 a {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.line {
  display: block;
  max-width: 1100px;
  height: 2px;
  margin-bottom: 23px;
  background: rgb(28, 224, 77);
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
}

.menu-btn-burger {
  width: 50px;
  height: 6px;
  background: rgba(3, 255, 100, 0.9803921569);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: rgba(3, 255, 100, 0.9803921569);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-16px);
}

.menu-btn-burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-226deg) translate(-34px, -35px);
}

@media (max-width: 345px) {
  .container-fluid {
    display: block !important;
  }
  iframe {
    width: 160%;
    height: 250px;
  }
  .footer .avtor h4 {
    text-align: center;
  }
}
@media (max-width: 325px) {
  .container-fluid {
    display: block !important;
  }
  iframe {
    width: 160%;
    height: 250px;
  }
  .footer .avtor h4 {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .container-fluid {
    display: block !important;
  }
  iframe {
    width: 160%;
    height: 250px;
  }
  .footer .avtor h4 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */